{% layout "layout.liquid" %} {% block content %}
<div>
    <img src="{{ product.image }}"alt="product" width="200px">
    <form action="/products/{{ product._id }}/reviews" method="post">
        <fieldset>
            <!-- <legend>Add a New Review</legend> -->
            

            <label>TITLE:<input type="text" name="title" placeholder="review title" /> </label>
            <label> CONTENT:<input type="text" placeholder="type here" /> </label>
            
            
        </fieldset>
        <input type="submit" value="Add a new Review" />
        
        </form>
        </div>
      {% endblock %}

     </form>